#footer {
    background-color: #3C214B;
}
.footer_text {
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}
.footer_podcast_bt img {
    transition: var(--transition-time);
}
.footer_podcast_bt:hover img {
    transform: rotate(-2deg) scale(1.1);
}
#footer_podcast {
    position: relative;
    text-decoration: none;
}
.footer_podcast_player {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    
    font-style: italic;
    color: #fff;
    text-align: center;
}
.footer_podcast_player > img {
    transition: .5s;
}
#footer_podcast:hover .footer_podcast_player > img {
    /* transform: scale(1.1); */
    transform: rotate(1turn) scale(1.1);
}
.footer_podcast_player > h3 {
    font-family: Neo Sans W1G;
    font-weight: 800;
}


@media (min-width: 0px) {
    #footer {
        padding: 2rem 0;
    }
    .footer_podcast_player > img {
        width: 25%;
    }
    .footer_podcast_player > h3 {
        font-size: 12px;
    }
}
@media (min-width: 576px) {
    #footer {
        padding: 6rem 0;
    }
    .footer_podcast_player > h3 {
        font-size: 16px;
    }
}
@media (min-width: 768px) {}
@media (min-width: 992px) {
    .footer_podcast_player > h3 {
        font-size: 20px;
    }
}
@media (min-width: 1200px) {}