@import url("geral/geral.css");

@import url("geral/header.css");

@import url("geral/footer.css");

@font-face {
    font-family: 'Neo Sans W1G';
    src: url(../assets/font/neo-sans-w1g-500.otf);
    font-weight: 500;
}
@font-face {
    font-family: 'Neo Sans W1G';
    src: url(../assets/font/neo-sans-w1g-800.otf);
    font-weight: 800;
}